<!DOCTYPE html>
<html>
<head>


</head>

<body>

{% extends "base.html" %}

{% block content %}

      <h1 align='center'>Merge PDF</h1>
      <!-- <div align="center"> -->
        <form action="" method="post" novalidate>

            <div align='center'>
              {{ form.dates }}
              {{ form.submit}}


            </div>
          </form>

            <!-- <div>

      <img src="static/images/2022-11-16_metrisi_2.jpg" width="50%" height="50%">
      <br>
      <p> Λίτρα Πετρελαίου</p>

      <img src="static/images/petreleo.jpg" width="50%" height="50%">
    </div> -->
{% endblock %}

</body>
</html>
